body{
    background-image: url("../img/ajaj.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
iframe {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
   
  }
.bg-custom1 {
    background-color: #f15010;
}
.text-custom1{
    color:aqua!important;
}
.card-link {
    color: rgb(0, 202, 202);
    padding-left: 30px;
}
.card-link:hover{
    text-decoration: none;
    color: aqua;
}
.card-body{
    color: white;
}
.center{
    display: flex;
    justify-content: center;
}
.odkazy{
    margin-top: auto;
    margin-bottom: auto;
}
footer{
      text-align-last: center;
      background-image: linear-gradient(to right, rgb(223, 90, 13), rgb(216, 151, 121), rgb(212, 133, 231))!important;
  }
.footerimage{
    margin-top: 10px;
}
a.footerodkazy{
    color: rgb(0, 202, 202)!important;
}
a.footerodkazy:hover{
    color: aqua!important;
}
.rov{
    background-image: linear-gradient(to right, rgb(223, 90, 13), rgb(216, 151, 121), rgb(212, 133, 231));
    text-align: center;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav{
    background-image: linear-gradient(to right, rgb(223, 90, 13), rgb(216, 151, 121), rgb(212, 133, 231))!important;
}

